.container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50px;
    padding: 5px 0;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 30px #022c24;
    align-self: start;
}

.name {
    align-self: center;
    font-size: 15px;
}

.name:hover {
    text-decoration: underline;
}