.profileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 25px;
    margin-left: 20px;
}

.avatar {
        width: 100px;
        border-radius: 50%;
        border: 1px solid black;
        box-shadow: 3px 3px 30px #022c24;
}
.wrapperImg {
    display: flex;
    justify-content: center;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #022c24;
    margin-bottom: 10px;
    box-shadow: 3px 3px 30px #022c24;
}

.background {
    transform: rotate(90deg);
    align-self: center;
}
