.nav {
    grid-area: n;
    background-color: #096e80;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -3px -3px 30px #022c24;
}

.last{
    margin: 40px 0;
} 

.navOption a {
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    color: rgb(10, 10, 10);
}

.navOption a:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 28px;
}

.navOption .active {
    color: rgb(43, 42, 42);
    font-size: 30px;
}

a {
    transition:color 1s ease, font-size 1s ease;
}