.header {
    grid-area: h;
    background-color: #096e80;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 3px 30px #022c24;
}

.logoBrand {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #022c24;
    margin-right: 15px;
}
.brand {
    color: rgb(10, 10, 10);
    font-size: 25px;
    font-family: Georgia, serif;
    font-weight: 400;
    font-variant: small-caps;
    text-shadow: 1px -2px 3px #084a5c;
}

.settings {
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    color: rgb(10, 10, 10);
}

.settings:hover {
    cursor: pointer;
    text-decoration: underline;
}
