* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #084a5c;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 100%;
}

.app_wrapper {
  display: grid;
  width: 1200px;
  grid-template-areas: "h h" "n c" "f f";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2.3fr 9.7fr;
  grid-gap: 10px;
}

.main-content {
  grid-area: c;
  background-color: #006956;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px -3px 30px #022c24;
  min-height: 415px;
}


