.footer {
    grid-area: f;
}
.container{
    background-color: #096e80;
    border-radius: 5px;
    box-shadow: 3px 3px 30px #022c24;
    padding: 10px;
}
.text {
    font-size: 20px;
    line-height: 20px;
    color: rgb(10, 10, 10);
}
